// settings.js

module.exports = {

  'packList': '',                     // absolute location of your packlist text file
  'apiKey': '',                       // bots api key
  'packListJson': 'packlist.json',    // json packlist file name
  'logFile': 'log.txt',               // log file name
  'apiEndPoint': ''                   // url of packlist update api endpoint

}
